@media screen and (max-width: 1500px){
    .container-profile{
        flex-wrap: wrap;
    }
}




@media screen and (max-width: 768px){
    .navbar-menu li{
        display: none;
    }
    .container-fluid{
        .hamburger-menu{
          top: 10px;
        }
        .logo-container{
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
        }
    }
    .jumbo{
      display: none;
    }
    main{
        .container-card{
            .boolbnb-card{
                flex-basis: 100%;
            }
        }
        
    }
    
    .container-profile{
        flex-direction: column;
        .card{
            margin-bottom: 50px;
        }
    }
}

@media screen and (min-width: 768px){
    .menu__btn, .hamburger-menu  {
        display: none;
    }

}