@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.container-profile {
  padding-top: 150px; 
  padding-bottom: 200px; 
  
  font-family: 'Baloo Paaji 2', cursive;
  h2{
    font-size: 6vw;
    color: #2b81fc;
    span{
      color: transparent;
      text-align: center;
      -webkit-text-stroke: 3px #2b81fc;
    }
  }
  .card {
    // background: rgb(12,16,240);
    // background: -moz-linear-gradient(339deg, rgba(12,16,240,1) 0%, rgba(53,167,255,1) 100%);
    // background: -webkit-linear-gradient(339deg, rgba(12,16,240,1) 0%, rgba(53,167,255,1) 100%);
    // background: linear-gradient(339deg, rgba(12,16,240,1) 0%, rgba(53,167,255,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c10f0",endColorstr="#35a7ff",GradientType=1); 
    background-color: #1D4FF6;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: white;
    .card__name {
      margin-top: 15px;
      font-size: 1.5em;
    }
    .card__image {
      height: 160px;
      width: 160px;
      border-radius: 50%;
      border: 5px solid #272133;
      margin-top: 20px;
      box-shadow: 0 10px 50px rgb(61, 173, 254);
    }
    .social-icons{
      padding: 0;
      list-style: none;
      margin: 1em;
      flex-direction: row;
      li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1em;
        i {
          color: #0a0f59;
          position: absolute;
          top:6px;
          left: -3px;
          transition: all 265ms ease-out;
          font-size: 21px;
        }
      }
      
      a {
        display: inline-block;
      }
      
      
    }

    .email{
      font-size: 0.9rem;
    }
    
    .social-icons a:before {
      transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      content: " ";
      width: 45px;
      height: 45px;
      border-radius: 100%;
      display: block;
      background: #fde74c;
      transition: all 265ms ease-out;
    }
    
    .social-icons a:hover:before {
      transform: scale(0);
      transition: all 265ms ease-in;
    }
    
    .social-icons a:hover i {
      transform: scale(2.2);
      -ms-transform: scale(2.2);
      -webkit-transform: scale(2.2);
      color: #fde74c;
      background: #fde74c;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 265ms ease-in;
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      font-size: 1.2em;
    }
  }
}





